@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif; 
    /* font-family:'Poppins', sans-serif;   */
}
html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.logo{
    background-color:rgb(181, 241, 234);
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}
.logo img{
    width: 50%;
    position: relative;
    margin: auto;
    /* border: 1px solid red; */
}
.body{
    /* background-color: rgb(0, 0, 0); */
    height: 85vh;
    background: url(https://source.unsplash.com/1200x500/?education) no-repeat center;
    background-size: cover;

}

.body .heading{
    /* border: 1px solid rgb(250, 250, 250); */
    /* background-color: rgba(0,0,0,0.4); 
    width: 30%; */
    position: relative;
    top: 110px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body .heading h1{
    background-color: rgba(0,0,0,0.5);
    text-decoration: underline;
    letter-spacing: 1.3px;
    color: #208ae0;
    font-size: 35px;
    margin: 15px 0;
    padding: 0;
    text-align: center;
    /* border: 1px solid red; */
}
.body .heading h2{
    background-color: rgba(0,0,0,0.4);
    font-size: 30px;
    text-align: center;
    color: #cecb0d;
    margin: 10px 0;
}
.body .heading h3{
    background-color: rgba(0,0,0,0.4);
    font-size: 40px;
    margin: 10px 0;
    color: #1eb67c;
    text-align: center;
    border-bottom: 2px solid #1eb67c;
}
.body .heading p{
    background-color: rgba(0,0,0,0.4);
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #e29608;
    text-align: center;
}
.body .heading p span{
    background-color: rgba(0,0,0,0.4);
    color: rgb(198, 11, 204);
    font-weight: 900;
    font-size: 35px;
}




section{
    padding : 100px 0;
/*     height: 100vh; */
}
.teams, footer{
    font-family:'Poppins', sans-serif;  
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    margin-top: 0px;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:  crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%); 
}




.teams{
    color: #fff;
    background: #111;
}
.teams .title::before{
    background: #fff;
}
.teams .title::after{
    background: #111;
    content: "what i provide";

}






.teams .title::after{
    content: "Ignited Minds";

}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background-color:  crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin:10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid  crimson;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top:  20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid  crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background:  crimson!important;
}



footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}



/* responsive media */
/*         
@media (max-width: 1000px) {
    .teams .carousel{
    grid-template-columns: 1fr 1fr;
    }
    .teams .carousel .card2 .box p,
    .teams .carousel .card4 .box p{
    position:relative;
    bottom: 0;
}
}
@media (max-width: 991px) {
    .logo img{
        width: 80%;
    }
    .body .heading h1{
    font-size: 30px;
    margin: 0 auto;
    }
    .body .heading h2{
        font-size: 25px;
    }
    .body .heading h3{
        font-size: 30px;
    }
    .body .heading p{
        font-size: 20px;
    }
    .body .heading p span{
        font-size: 30px;
    }
}
@media (max-width: 690px) {
    .logo img{
        width: 100%;
    }
    .body .heading h1{
    font-size: 20px;
    }
    .body .heading h2{
        font-size: 15px;
    }
    .body .heading h3{
        font-size: 15px;
    }
    .body .heading p{
        font-size: 10px;
    }
    .body .heading p span{
        font-size: 20px;
    }
}


@media (max-width: 600px) {
    .teams .carousel{
    grid-template-columns: 1fr;
    }
    .teams .carousel .card2 .box p{
        margin: 0 30px;
    }
} */




@media (max-width: 1300px){
    .max-width{
        margin-left: 0px;
    }
    .body{
        /* background-color: rgb(0, 0, 0); */
        height: 100vh;
    }
    .body .heading{
        position: relative;
        top: 250px;
    }
    .body .heading h1{
        font-size: 40px;
    }
    .body .heading h2{
        font-size: 40px;
    }
    .body .heading h3{
        font-size: 50px;
    }
    .body .heading p{
        font-size: 35px;
    }
    .body .heading p span{
        font-size: 50px;
    }
    
}

@media (max-width: 1104px){
    .body{
        /* background-color: rgb(0, 0, 0); */
        height: 100vh;
    }
    /* .body .heading{
        position: relative;
        top: 200px; 
    } */
    .body .heading h1{
        font-size: 40px;
    }
    .body .heading h2{
        font-size: 40px;
    }
    .body .heading h3{
        font-size: 50px;
    }
    .body .heading p{
        font-size: 35px;
    }
    .body .heading p span{
        font-size: 50px;
    }
    section{
        padding : 250px 0;
        height: 100vh;
    }
}


@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
    .logo{
        /* background-color:rgb(181, 241, 234); */
        width: 100%;
        display: flex;
    }
    .logo img{
        width: 50%;
        position: relative;
        margin: auto;
    }
    .body{
        /* background-color: rgb(0, 0, 0); */
        height: 100vh;
    }
    /* .body .heading{
        position: relative;
        top: 250px; 
    } */
    .body .heading h1{
        font-size: 40px;
    }
    .body .heading h2{
        font-size: 40px;
    }
    .body .heading h3{
        font-size: 50px;
    }
    .body .heading p{
        font-size: 35px;
    }
    .body .heading p span{
        font-size: 50px;
    }
    
}
@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .logo{
        /* background-color:rgb(181, 241, 234); */
        width: 100%;
        display: flex;
    }
    .logo img{
        width: 70%;
        position: relative;
        margin: auto;
    }
    .body{
        /* background-color: rgb(0, 0, 0); */
        height: 95vh;
    }
    /* .body .heading{
        position: relative;
        top: 150px; 
    } */
    .body .heading h1{
        font-size: 40px;
    }
    .body .heading h2{
        font-size: 40px;
    }
    .body .heading h3{
        font-size: 50px;
    }
    .body .heading p{
        font-size: 35px;
    }
    .body .heading p span{
        font-size: 50px;
    }

    
    .services .serv-content .card{
        width: calc(50% -  10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px){
    .max-width{ 
        padding: 0 23px;
    }
    .logo{
        /* background-color:rgb(181, 241, 234); */
        width: 100%;
        display: flex;
    }
    .logo img{
        width: 90%;
        position: relative;
        margin: auto;
    }
    
    
    .services .serv-content .card, 
    .skills .skills-content .column{
        width: 100%;
    }
    .body{
        /* background-color: rgb(0, 0, 0); */
        height: 95vh;
    }
    
    /* .body .heading{
        position: relative;
        top: 175px; 
    } */
    .body .heading h1{
        font-size: 40px;
    }
    .body .heading h2{
        font-size: 30px;
    }
    .body .heading h3{
        font-size: 40px;
    }
    .body .heading p{
        font-size: 25px;
    }
    .body .heading p span{
        font-size: 40px;
    }

}
@media (max-width: 500px){
   
    .logo{
        /* background-color:rgb(181, 241, 234); */
        width: 100%;
        display: flex;
    }
    .logo img{
        width: 100%;
        position: relative;
        margin: auto;
    }
    .body{
        /* background-color: rgb(0, 0, 0); */
        height: 95vh;
    }
    
    .body .heading{
        position: relative;
        top: 50%;
    }
    .body .heading h1{
        font-size: 28px;
    }
    .body .heading h2{
        font-size: 30px;
    }
    .body .heading h3{
        font-size: 30px;
    }
    .body .heading p{
        font-size: 20px;
    }
    .body .heading p span{
        font-size: 25px;
    }

}

/* 
@media (max-width: 370px){
    .body .heading p{
        font-size: 22px;
        text-align: center;
        overflow-wrap: break-word;

    }
    .body .heading p span{
        break-after: always;
        overflow-wrap: break-word;
        float: left;
        margin: 25px;
        text-align: justify;
        font-size: 40px;
    }
} */


